
body {
    background-color: coral;
}

#scene {
    background-color: lightcyan;
    z-index: 0;
    position: relative;
    margin: 0 auto;
}

#arrow {
    background-color: black;
    z-index: 30;
    width: 1.5vh;
    height: 12vh;
    position: absolute;
    bottom: 4vh;
    left: 50%;
    transform: translateX(-50%) rotateZ(0);
    transform-origin: center bottom;
}

#pointer {
    border-left: dotted 0.4rem blue;
    z-index: 20;
    width: 0vh;
    height: 95vh;
    position: absolute;
    bottom: 4vh;
    left: 50%;
    transform: translateX(-50%) rotateZ(0);
    transform-origin: center bottom;
}

#pointer2 {
    border-left: dotted 0.4rem blue;
    display: none;
    z-index: 20;
    width: 0vh;
    height: 95vh;
    position: absolute;
    bottom: 4vh;
    left: 50%;
    transform: translateX(-50%) rotateZ(0);
    transform-origin: center bottom;
}

#bottom-limit {
    border-top: dashed 0.2rem coral;
    z-index: 10;
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%) rotateZ(0);
    transform-origin: center bottom;
}

.ball {
    background-color: blue;
    z-index: 40;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    position: absolute;
    transform: translateX(-50%);
}

#tableDiv {
    position: absolute;
}

table {
    border-spacing: 0;
}

#table > tr:nth-of-type(odd) > td {
    border: 1px solid green;
    border-radius: 50%;
    box-sizing: border-box;
    width: 6vh;
    height: 6vh;
}

#table > tr:nth-of-type(even) > td {
    box-sizing: border-box;
    width: 6vh;
    height: 4vh;
}

#tableDiv2 {
    position: absolute;
    top: 5vh;
    left: 3vh;
    padding: 0;
    margin: 0;
}

#table2 > tr:nth-of-type(odd) > td {
    border: 1px solid red;
    border-radius: 50%;
    box-sizing: border-box;
    width: 6vh;
    height: 6vh;
}

#table2 > tr:nth-of-type(even) > td {
    box-sizing: border-box;
    width: 6vh;
    height: 4vh;
}